* {
  margin: 0;
  padding: 0;
}

#grid {
  float: left;
  width: 100%;
}
#grid > div {
  float: left;
  background: red;
  margin-right: 15%;
  margin-bottom: 15%;
  height: 100px;
  width: 42.5%;
  text-align: center;
}
#grid > div:nth-child(2n) {
  margin-right: 0;
}

.block:not(.first) {
  background: white;
  height: 200px;
  width: 300%;
  border: 2px solid red;
  margin-bottom: 20px;
}

.first {
  background: white;
  height: 100px;
  border: 2px solid red;
  margin-bottom: 20px;
}

#central_block {
  padding: 30px;
}
#central_block ul {
  display: inline-block;
  list-style: none;
}
#central_block a {
  font-size: 1.1em;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: red;
}
#central_block a:hover {
  color: white;
}
#central_block li {
  float: left;
  margin-right: 10px;
}
#central_block li a {
  font-size: 1.1em;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #666;
}