@import "mixins";
@import "variables";

* {
  margin: 0;
  padding: 0;
}

#grid {
  float: left;
  width: 100%;

  > div {
    @include grid(2, 15%);
    text-align: center;
  }
}

.block:not(.first) {
    background: $bgcolor;
    height: 200px;
    width: $blockWidth;
    border: $border;
    margin-bottom: 20px;
}

.first {
  background: $bgcolor;
  height: 100px;
  border: $border;
  margin-bottom: 20px;
}

#central_block {
  padding: 30px;

  ul {
    display: inline-block;
    list-style: none;
  }

  a {
      @include font();

      &:hover {
        color: white;
      }
  }

  li {
    float: left;
    margin-right: 10px;

    a {
      @include font(bold, #666);
    }
  }
}
